
h1 {
    background-color: red;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color:white;
}

span {
    position: relative;
    top: 15px;
}
