
.slider {
  display: flex;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

.slider img {
  width: 100%;
  height: 100%;
}

#btn-prev, #btn-next {
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: lightgray;
  color: white;
  font-size: 40px;
  font-weight: bold;
}
