
.infinity-gauntlet {
    height: 300px;
}

table img {
    height: 75px;
}

.infinity-gauntlet:hover ~ table tr:nth-child(odd) td:nth-child(odd),
.infinity-gauntlet:hover ~ table tr:nth-child(even) td:nth-child(even){
    visibility: hidden;
}
